<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.arssg.proyecto_odisea_xxi">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic2_yaax"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Proyecto_Odisea_XXI">
        <activity android:name=".perfil"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".consejos"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".pantalla_menu"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>